<form action="{% url 'prediction' %}" method="POST">
    {% csrf_token %}
    <div class="dropdown" id="Location">
        <button onclick="readFile('myDropdown', 'button', 'Address: ', 'Address', 'myInput')" class="dropbtn" id="button" name="street_address">Address</button>
        <div id="myDropdown" class="dropdown-content">
            
        </div>
    </div>

    <div class="dropdown1" id="Bathrooms">
        <button onclick="myFunction1('myDropdown1', 'button1', 'Number of Bathrooms: ', 1, 11, 'Number of Bathrooms', 'myInput1')" class="dropbtn" id="button1" name="bathroom_count">Bathrooms</button>
        <div id="myDropdown1" class="dropdown-content">
            
        </div>
    </div>
    <br> </br>

    <div class="dropdown2" id="Bedrooms">
        <button onclick="myFunction1('myDropdown2', 'button2', 'Number of Bedrooms: ', 1, 11, 'Number of Bedrooms', 'myInput2')" class="dropbtn" id="button2" name="bedroom_count">Bedrooms</button>
        <div id="myDropdown2" class="dropdown-content">
            
        </div>
    </div>

    <div class="dropdown3" id="Listing Area">
        <button onclick="myFunction1('myDropdown3', 'button3', 'Listing Area: ', 22, 366, 'Listing Area', 'myInput3')" class="dropbtn" id="button3" name="listing_area">Listing Area</button>
        <div id="myDropdown3" class="dropdown-content">
            
        </div>
    </div>

    <br> </br>

    <div class="dropdown4" id="Certificate">
        <button onclick="readFile('myDropdown4', 'button4', 'Certificate: ', 'Certificate', 'myInput4')" class="dropbtn" id="button4" name="certificate">Certificate</button>
        <div id="myDropdown4" class="dropdown-content">
            
        </div>
    </div>

    <div class="dropdown5" id="Division">
        <button onclick="readFile('myDropdown5', 'button5', 'Jakarta Division: ', 'Jakarta Division', 'myInput5')" class="dropbtn" id="button5" name="Division_info">Jakarta Division</button>
        <div id="myDropdown5" class="dropdown-content">
            
        </div>
    </div>
                
    <br> </br>

    <div>
        <input placeholder="Here is Your Prediction" class="result" id="result">
        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Get Prediction</button>
    </div>
</form>
